/*----------------------------
|   TEXTE
-----------------------------*/
h1 {
    text-align: center;
    font-size: 50px;
}

p {
  text-align: center;
}

/*----------------------------
|   Game_Zone
-----------------------------*/

/*Div racine de cet objet, contenant à la fois les 4 boutons et la grille */
div.Game_Zone {
  width: 975px;
  height: 900px;
  margin: 0 auto;
}
div.flex_container { /*C'est exactement le meme objet, mais on rassemble ici les éléments relatifs à flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*----------------------------
|   Boutons_Input
-----------------------------*/
div.Boutons_Input {
  background-color: black;
  color: white;
  font-weight:  bold;
  font-size: 1.5rem;
  height: 30px;
  line-height: 30px;
  width:  100px; /* Référence pr flex-basis */
  border-radius: 15px;
  padding: 10px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
div.Boutons_Input:hover {
  background-color: #50C8FF;
  color: #c55b2a;
  transition: background-color 0.5s, color 0.5s;
}
div.flex_item { /* Le scope de cette classe est : les 4 boutons d'input + la grille de jeu */
  flex-basis: auto; /* Vas chercher la valeur de width*/
}


  
div.buttonLEFT {
  align-self:center;
  order: 1;
}
/* Colonne centrale */
div.Colonne_centrale {
  align-self:center;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
}
  div.buttonUP {
    /* align-self:flex-start; */
    order: 1;
  }
  /* Grille_cases */
  /* Au centre de la Game_Zone, cette div contient les case du jeu. Attention, c'est un des flex item du contenaire racine ! */
  table {
    margin: 50px;
    border: 25px solid black;
    border-radius: 20px
    /* margin:3px; */
  }
  table.flex_item {
    align-self: center;
    order: 2;
  }
  
  div.buttonDOWN {
    /* align-self:flex-end; */
    order: 3;
  }

div.buttonRIGHT {
  align-self:center;
  order: 3;
}



/* Es que la classe .fleche est un relicat de code qui aurait due être suprimé ?
.fleche {
position: relative;
background: #88b7d5;
height: 50px;
width: 200px;
margin-top: 50px;
}

.fleche:after {
  left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 50px;
	margin-top: -50px;
}
 */



.cell {
  height: 100px;
  width: 100px;
  background-color: #ada0a0;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-2 {
  background-color: #A5D6A7;
}

.color-4 {
  background-color: #388E3C;
}

.color-8 {
  background-color: #1B5E20;
}

.color-16 {
  background-color: #FFCA28;
}

.color-32 {
  background-color: #EF6C00;
}

.color-64 {
  background-color: #78909C;
}

.color-128 {
  background-color: #81D4FA;
}

.color-256 {
  background-color: #01579B;
}

.color-512 {
  background-color: #1A237E;
}

.color-1024 {
  background-color: #D32F2F;
}

.color-2048 {
  background-color: #D50000;
}

.color-4096 {
  background-color: #E3F2FD;
}

.number {
  color: white;
  font-size: 35px;
}
