/*====================================
    HEADER (titrages etc)
====================================*/
div.Header {
    height: 400PX;
    width: 960px;
    margin: auto;
    padding-top: 30px;
    background-color: BLACK;
    color: aliceblue;
    border: 5px solid whitesmoke,;
    border-bottom-left-radius : 50px;
    border-bottom-right-radius : 50px;
    /*box-shadow: 8px 8px 0px #aaa; */
}
    div.Titre {
        margin: 10px;
        font-size: 3rem;
    }
    div.SousTitre {
        margin: 10px;
        font-size: 1.5rem;
    }
    /*====================================
        ELEMENTS (div container des objets)
    ====================================*/  
    div.Elements {
        display: flex;
        width: 800px;
        height: auto;
        min-height: 150px;
        margin: 30px auto;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
    }
        button {
            background-color: orange;
            font-size: 1.5rem;
            width: 150px;
            height: 75px;
        }
        div.InfoScore {
            /* margin: 20px; */
            font-size: 1.5rem;
        }
        /*====================================
            RECORD (l'objet)
        ====================================*/
        div.Container_Record {
            height: 50px;
            /* color: green; */
            display: block;
            margin: 10px;
        }
            div.Container_Record div{
                font-size: 2rem;
                display: inline;
                font-weight: bold; 
            }

            .Flash_Update_Record_Passif { /*Pas forcement nécessaire, mais on assure les basses pr le moment*/
                margin: 10px;
                color: white;
            }
            .Flash_Update_Record_Actif { /*Pas forcement nécessaire, mais on assure les basses pr le moment*/
                margin: 10px;
                /*color: yellow;*/
                font-size: 3rem;
            } 
            em.Increment {
                font-size: 1.5rem;
                color: grey;
            }
        /*====================================
            SCORE (l'objet)
        ====================================*/
        div.Container_Score {
            height: 50px;
            /* color: green; */
            display: inline;
            margin: 10px;
        }
            div.Container_Score div{
                font-size: 1.7rem;
                display: inline;
            }

            .Flash_Update_Score_Passif { /*Pas forcement nécessaire, mais on assure les basses pr le moment*/
                margin: 10px;
                color: white;
            }
            .Flash_Update_Score_Actif { /*Pas forcement nécessaire, mais on assure les basses pr le moment*/
                margin: 10px;
                /*color: yellow;*/
                font-size: 2rem;
            } 
            em.Increment {
                font-size: 1.5rem;
                color: grey;
            }
        /*====================================
            BOUTON 
        ====================================*/
        button.Bouton {
            background-color: black; 
            color: white;
            /* font-weight:  bold; */
            font-size: 2rem;
            height: 100px;
            width:  200px; 
            border: 7px solid white;
            border-radius: 15px;
            padding: 10px;
            margin: 0;
            /* text-align: center; */
            cursor: pointer;
            transition: background-color 0.5s, color 0.5s;
          }
          div.Boutons_Input:hover {
            background-color: #792a2a;
            color: #c55b2a;
            transition: background-color 0.5s, color 0.5s;
          }
          strong{
            display: inline-block;
            vertical-align: middle;
            font-weight:  bold;
          }
          em {
              font-size: 1.5rem;
              font-weight: normal;
            }